<!doctype html>
<html lang="ru" ng-app="myApp">
<head>
	<meta charset="utf-8">
	
	<link rel="stylesheet" href="css/mystyles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<script type="text/javascript" src="https://code.angularjs.org/1.4.7/angular.min.js"></script>
	<script src="app.js"></script>
</head>
<body>
    <div class="page-header">
        <h1> Cистема учета личных расходов и доходов </h1> 
    </div>
	
    <div class="panel" ng-controller="pController">
		<div class="form-inline">
			<div class="col-md-6">
				<div class="page-header">
					<h3> Создание нового счета </h3> 
				</div>
				<div>
					<input  class="form-control" ng-model="nameModel" placeholder = "Имя счета" >
				</div>
				<button class="btn btn-default" ng-click="AddModels(nameModel)">Создать</button>
			</div>
			<div class = "col-md-6" ng-if = "AllList.length > 0">
				<div class="page-header">
					<h3>Ваши счета | всего {{AllList.length}}</h3> 
				</div>
				
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Имя</th>
							<th>RUR</th>
							<th>EUR</th>
							<th>USD</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="models in AllList">
							<td >
								<p ng-dblclick="myEdit = true" ng-init="myEdit = false">{{models.name}}</p>
								<!--<input type="checkbox" ng-model="myEdit" ng-init="myEdit = false">
								-->
								<div ng-show="myEdit">
									<input class="form-control" ng-model="newNameModel" placeholder = "Новое имя">
								
									<button class="btn btn-default" ng-click="EditModels(newNameModel,models.number); myEdit = false">Редактировать</button>
									<button class="btn btn-default" ng-click="myEdit = false">X</button>
								</div>
								
							</td>
							<td>{{models.RUR}}</td>
							<td>{{models.EUR}}</td>
							<td>{{models.USD}}</td>
							
							<td>
								<!--<button class="btn btn-default">
								Редактировать</button>
								
								<input class="form-control" type="checkbox" ng-model="myEdit" ng-init="myEdit = false">
								<div ng-if="myEdit">
									<input class="form-control" ng-model="nameModel" placeholder = "models.name" >
								
								<button class="btn btn-default" ng-click="EditModels(models)">Редактировать</button>
								</div>
								
								<input ng-if="" class="form-control" placeholder = "models.name">
								-->
							</td>
							
							<td> <button class="btn btn-default" ng-click="DelModels(models.number)">Удалить</button> </td>
						</tr>
					</tbody>
				</table>
				
			</div>
		<!--<div ng-if="AllList.length > 0">
			<h1> Hello WORLD!</h1>
		</div>
		-->
		</div>
        <div  class="form-inline" ng-if = "AllList.length > 0">
		
			<div>
				<button class="btn btn-default" ng-disabled="myTransfer"
				ng-click="myTransfer = true; myJurn = false; myCurrency = false;
				changeList(modelFather);"
				ng-init="myTransfer = false; myJurn = false; myCurrency = false">Перевод денег</button>
			</div>
			<div>
				<button class="btn btn-default" ng-disabled="myJurn"
				ng-click="myTransfer = false; myJurn = true;myCurrency = false;
				changeList(modelFather);"
				ng-init="myTransfer = false; myJurn = false; myCurrency = false">Расходы и доходы</button>
			</div>
			<div>
				<button class="btn btn-default" ng-disabled="myCurrency"
				ng-click="myTransfer = false; myJurn = false; myCurrency = true;
				changeList(modelFather);"
				ng-init="myTransfer = false; myJurn = false; myCurrency = false">Обмен валюты</button>
			</div>
	
		
		<!--ПЕРЕМЕЩЕНИЕ СО СЧЕТА НА СЧЕТ-->
		<div ng-if="myTransfer">
			<div class="page-header  col-md-12">
				<h3>Перевод на другой счёт</h3>
			</div>
			<div class="form-inline">
				
				<div class="col-md-1 ">
				<h5>Из</h5>
                <select class="form-control" ng-model="musor">
					<option  ng-repeat="models in AllList"  ng-click = "changeList(models)" value = "models.name">{{models.name}} </option>
					<!--<option ng-click = "changeList(1)" selected value = "Father">Счет Первый</option>
					<option ng-click = "changeList(2)" value = "Mother">Счет Второй</option>
					-->
				</select>
				</div>
				
				
				<div class="col-md-3">
				<h5>Сколько</h5>
					<div class="form-group">
					
						<input class="form-control" ng-model="summ" placeholder="Сумма" >
						<select class="form-control"  ng-model = "currency">
							<option  value = "RUR">RUR</option>
							<option value = "EUR">EUR</option>
							<option value = "USD">USD</option>
						</select>
					</div>
				</div>
				<div class="col-md-1">
					<h5>На какой счёт</h5>
					<select class="form-control" ng-model="number">
						<option ng-repeat="models in AllList" value = "{{models.number}}">{{models.name}} </option>
						<!--<option ng-click = "changeList(1)" selected value = "Father">Счет Первый</option>
						<option ng-click = "changeList(2)" value = "Mother">Счет Второй</option>
						-->
					</select>
				</div>
				<div class="col-md-6">
						<br><br>
						<button class="btn btn-default" ng-click="TransferCurrency(summ, currency,number)"
						>Перевести</button>
				</div>
				
			</div>
			
			
		</div>
		
		<!--ОБМЕН ВАЛЮТЫ-->
		<div ng-if="myCurrency" >
			<div class="page-header  col-md-12">
				<h3>Обмен валюты</h3>
			</div>
			<div class="col-md-12">
                <div class="form-group col-md-2">
					<h5>Выберите счёт</h5>
                    <select class="form-control" ng-model="musor">
						<option ng-repeat="models in AllList" ng-click = "changeList(models)">{{models.name}} </option>
						<!--<option ng-click = "changeList(1)" selected value = "Father">Счет Первый</option>
						<option ng-click = "changeList(2)" value = "Mother">Счет Второй</option>
						-->
					</select>
					<div  ng-model="summ">
						<h4 style="background-color: #f9f9f9" >{{list.RUR + " RUR"}}</h4>
						<h4 style="background-color: #f9f9f9" >{{list.EUR + " EUR"}}</h4>
						<h4 style="background-color: #f9f9f9" >{{list.USD + " USD"}}</h4>
					</div>
					
					
				</div>
				<div class="col-md-3">
					<div>
						<h5>Обменять</h5>
                    <input class="form-control" ng-model="price" placeholder="Сумма" >
					<select class="form-control"  ng-model = "currencyFROM">
						<option  value = "RUR">RUR</option>
						<option value = "EUR">EUR</option>
						<option value = "USD">USD</option>
					</select>
                </div>
				</div>

				<div class="col-md-2">
					<h5>На</h5>
                    <select class="form-control"  ng-model = "currencyTO">
						<option  value = "RUR">RUR</option>
						<option value = "EUR">EUR</option>
						<option value = "USD">USD</option>
					</select>
					<h4 ng-if="currencyTO == 'RUR'"> 1 RUR = 0.01697 USD<br> 1 RUR = 0.0144143 EUR</h4>
					<h4 ng-if="currencyTO == 'EUR'"> 1 EUR = 69.3753683 RUR<br> 1 EUR = 1.1773 USD</h4>
					<h4 ng-if="currencyTO == 'USD'"> 1 USD = 57.9275192 RUR<br> 1 USD = 0.849401172 EUR</h4>
                </div>
				<div class="col-md-4">
					<br><br>
                    <button class="btn btn-default" ng-click="switchCurrency(price ,currencyFROM, currencyTO)"
					>Вперед!</button>
                </div>
            </div>
		</div>
		
		
		<!--РАСХОДЫ И ДОХОДЫ-->
		<div ng-if="myJurn">
			<div  class="page-header  col-md-12">
			<h3>Ввод расходов и доходов</h3>
			</div>
			<div class="col-md-12">
                <div class="form-group">
					<h5>Выберите счёт</h5>
                    <select class="form-control" ng-model="musor">
						<option ng-repeat="models in AllList" ng-click = "changeList(models)" value = "models.name">{{models.name}} </option>
						<!--<option ng-click = "changeList(1)" selected value = "Father">Счет Первый</option>
						<option ng-click = "changeList(2)" value = "Mother">Счет Второй</option>
						-->
					</select>
					
				</div>
            </div>
		    <div class="form-group">
                <div class="col-md-10">
					<h5>Выберите дату</h5>
                    <!--<input class="form-control" ng-model="date" required  ng-pattern="/\d\d/\d\d/\d\d\d\d/" placeholder="Введите дату">
					-->
					<input class="form-control" type="date" name="calendar" ng-model="ThisIsData">
				</div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
					<h5>Ваш комментарий</h5>
                    <input class="form-control" ng-model="text" placeholder = "Комментарий" >
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
					<h5>Введите сумму(перед суммой обязательно должен быть знак "-" или "+" )</h5>
                    <input class="form-control" ng-model="price" placeholder="Сумма" >
                    <select class="form-control"  ng-model = "currency">
						<option  value = "RUR">RUR</option>
						<option value = "EUR">EUR</option>
						<option value = "USD">USD</option>
					</select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
					<br><br>
                    <button class="btn btn-default" ng-click="addItem(ThisIsData,text, price,currency)"
					>Добавить</button>
                </div>
            </div>
		
		<div class="page-header">
			<h3>Счёт {{list.name}}</h3>
		</div>
		<div  class="form-inline" ng-model="summ">
			<div style="background-color: #f9f9f9" class="form-group col-md-2"><h4>{{list.RUR + " RUR"}}</h4></div>
			<div style="background-color: #f9f9f9" class="form-group col-md-2"><h4>{{list.EUR + " EUR"}}</h4></div>
			<div style="background-color: #f9f9f9" class="form-group col-md-2"><h4>{{list.USD + " USD"}}</h4></div>
		</div>
		
		
		<h3><br><br>Журнал операций</h3>
		
		<div class="form-inline">
		<div class="form-group col-md-8">
        <table class="table table-striped">
            <thead>
                <tr>
					<th>Дата</th>
                    <th>Предмет</th>
                    <th>Цена</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in list.items | filter : selectFilter ">
					<td>{{item.date}}</td>
                    <td>{{item.purchase}}</td>
                    <td>{{item.price}}</td>
                </tr>
            </tbody>
        </table>
		</div>
			<div class="form-group col-md-1">
			<div class="form-group">
				<button class="btn btn-default" ng-click="selectFilter = ''"
						>Все операции</button>
				
			</div>
			<div class="form-group">
				<button class="btn btn-default" ng-click="selectFilter = {price:'-'}"
						>Расходы</button>
				
			</div>
			<div class="form-group">
				<button class="btn btn-default" ng-click="selectFilter = {price:'+'}"
						>Доходы</button>
				
			</div>
			</div>
		</div>
		
		</div>
		</div>
		<script>console.log(list.item);</script>
	</div>
</body>
</html>
